<h3>Editar Filme</h3>
<div class="card">
  <div class="card-body">
    <form action="/filmes/editarfilme/{{filmes._id}}" method="post">
    <input type="hidden" name="id" value="{{filmes._id}}">

      <label for="nome">Nome:</label>
        <input type="text" id="nome" autocomplete= "off" name="nome" placeholder="Nome do filme" class="form-control" value="{{filmes.nome}}">
        <br>
        
      <label for="diretor">Diretor: </label>
        <input type="text" id="diretor" autocomplete= "off" name="diretor" placeholder="Diretor do Filme" class="form-control" value="{{filmes.diretor}}">
        <br>

      <label for="idioma">Idioma: </label>
        <input type="text" id="idioma" autocomplete= "off" name="idioma" placeholder="Idioma do Filme" class="form-control"value="{{filmes.idioma}}">
        <br>
      
      <label for="categoria">Categoria: </label>
      <select name="opcoes" id="opcoes" class="form-select" >
        <option value="Terror">Terror</option>
        <option value="Comedia">Comedia</option>
      </select>
      <br>

      <button type="submit" class="btn btn-success">Salvar</button>
      
    </form>
  </div>
</div>